<mat-toolbar>
    <span>Gestion de mon compte</span>
</mat-toolbar>

<form (ngSubmit)="onSubmit(form)" #form="ngForm"  class="flex-col" style="width:60vw;margin-left:auto;margin-right:auto">

  <div class="flex-row" style="justify-content: flex-end">
    <button mat-raised-button >Enregistrer</button>
  </div>

  <mat-form-field floatPlaceholder="auto">
      <input matInput [(ngModel)]="user.pseudo" name="pseudo"
             type="text"
             required
             placeholder="Pseudo">
  </mat-form-field>
  <mat-form-field floatPlaceholder="auto">
    <input matInput [(ngModel)]="user.mail" name="mail"
           type="email"
           required
           placeholder="eMail">
</mat-form-field>
<mat-form-field floatPlaceholder="auto">
  <input matInput [(ngModel)]="user.password" name="password"
         type="password"
         required
         minlength="5"
         placeholder="Mot de passe">
</mat-form-field>
</form>
