<h1 matDialogTitle style="min-width: 360px">Edition d'item</h1>

<form (ngSubmit)="onSubmit()" [formGroup]="form" class="flex-col">

  <mat-form-field floatPlaceholder="auto">
    <input matInput formControlName="label" type="text" required placeholder="Libellé du champ">
  </mat-form-field>


  <mat-form-field floatPlaceholder="auto">
    <mat-select formControlName="type" placeholder="Type de saisie">
      <mat-option value="text">Texte mono ligne</mat-option>
      <mat-option value="textarea">Texte multi-ligne</mat-option>
      <!-- <mat-option value="richtext">Texte enrichi</mat-option> -->
      <mat-option value="date">Date</mat-option>
      <mat-option value="users">Utilisateur</mat-option>
      <!-- <mat-option value="groupusers">Groupe d'utilisateur</mat-option> -->
      <mat-option value="select">Combo-box</mat-option>
    </mat-select>
  </mat-form-field>


<div *ngIf="form.get('type').value=='select'" class="flex-col">
    <mat-table [dataSource]="selectdata" >
        <ng-container matColumnDef="act">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let item">
              <button mat-button (click)="supprimeroptions(item)"><fa name="trash"></fa></button>
            </mat-cell>
        </ng-container>

      <ng-container matColumnDef="libelle">
          <mat-header-cell *matHeaderCellDef>Libellé</mat-header-cell>
          <mat-cell *matCellDef="let item">
                  <input matInput [(ngModel)]="item.label" [ngModelOptions]="{standalone:true}" name="libelle" type="text" required placeholder="libellé">

          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="couleur">
          <mat-header-cell *matHeaderCellDef>Couleur</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <input [(colorPicker)]="item.color" [style.background]="item.color" style="border: none"/>
          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['act','libelle','couleur']"></mat-header-row>
      <mat-row *matRowDef="let row; columns:['act','libelle','couleur']"></mat-row>
    </mat-table>

    <button type="button" mat-button (click)="selectdata.data.push({'libelle':'','couleur':''}); selectdata.data = selectdata.data;">Ajouter</button>
  </div>
  <mat-checkbox formControlName="est_tag" color="primary">Est un tag</mat-checkbox>


  <div class="flex-row">
    <button mat-button>Enregistrer</button>
    <button type="button" mat-button mat-dialog-close>Annuler</button>
  </div>
</form>
