<div style="display: flex;flex-direction: column; padding:10px">
  <div style="display: flex;flex-direction: row">
    <h2>Gestion des utilisateurs</h2>
    <div style="align-self: center">
      <button mat-button (click)="ajouter()" style="width:100px;margin-left:10px;align-self: center">
        <fa name="plus"></fa> Ajouter
      </button>
    </div>
  </div>

  <div style="display: flex;flex-direction: row;" *ngFor="let user of users">
    <div style="align-self: center">
      <button type="button" mat-button color="warn" (click)="delete(user)">
        <fa name="trash"></fa>
      </button>
      <button type="button" mat-button (click)="editer(user)">
        <fa name="edit"></fa>
      </button>
    </div>
    <div style="padding: 0px 5px;align-self: center">{{user.id}}</div>
    <div style="align-self: center">{{user.mail}}</div>
  </div>
</div>
