<mat-toolbar style="justify-content: space-between">
    <span>Gestion des utilisateurs</span>
    <button mat-button (click)="ajouter()">
      <fa name="plus"></fa> Ajouter
    </button>
</mat-toolbar>

<mat-table [dataSource]="users">

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <button type="button" mat-raised-button color="warn" (click)="delete(user)">
        <fa name="trash"></fa>
      </button>
      <button type="button" mat-raised-button (click)="editer(user)">
        <fa name="edit"></fa>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="mail">
      <mat-header-cell *matHeaderCellDef>eMail</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.mail}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
      </ng-container>
  <mat-header-row *matHeaderRowDef="['action','id','mail']"></mat-header-row>
  <mat-row *matRowDef="let user; columns:['action','id','mail'];"></mat-row>

</mat-table>
