<mat-toolbar> <span>Listes des tâches</span> </mat-toolbar>

<form [formGroup]="form" (ngSubmit)="search()" class="flex-row" style="padding:0px 10px">
  <mat-form-field floatPlaceholder="auto" style="flex-grow: 1">
    <input matInput formControlName="keywords" type="text" required placeholder="Mots-clé" (input)="onKeyUp($event)" />
  </mat-form-field>
</form>

<div class="flex-row" style="flex-grow: 1">
  <div style="flex:1 1 auto;overflow:auto;width:0;">
    <div class="flex-row" style="align-items: baseline;flex-grow: 1">
      <div class="flex-col" class="colonne" *ngFor="let etat of etats" dndDropzone (dndDrop)="onDrop($event, etat.id)">
        <mat-toolbar style="justify-content: space-between;font-size: 12px">
          <span>{{ etat.libelle }}</span>
          <button mat-mini-fab (click)="addTask(etat.id)">
            <fa name="plus"></fa>
          </button>
        </mat-toolbar>

        <div *ngFor="let tache of GetTacheByEtat(etat)" class="flex-col tacheCase" (dblclick)="editerTache(tache)"
          [dndDraggable]="tache">
          <div>{{ tache.title }}</div>
          <div class="flex-row" style="flex-wrap: wrap">
            <div class="tag" *ngFor="let tag of GetTags(tache)" [style.background]="getTagColor(tag)">{{tag.valeur}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div #choixUser style="display:none;" class="flex-col choixUser">
  <div *ngFor="let user of users" (click)="choixuser(user)">{{user.pseudo}}</div>
</div>
