.colonne {
  min-width: 200px;
  box-shadow: 1px 4px 6px black;
  margin: 0px 5px;
}

.tacheCase {
  margin: 5px;
  background-color: #272727;
  box-shadow: 0px 1px 1px black;
  padding: 3px;
  font-size: 13px;
  cursor: pointer;
}

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tag{
  flex-grow: 0;
  margin: 2px;
  box-shadow: 0 0 3px black;
  padding: 2px 4px;
  background-color: #424242;
  font-size: 12px;
}

.choixUser{
  position: fixed;
  background: #353535;
  top: 141.5px;
  left: 79px;
  padding: 5px;
  border-radius: 0px 10px 10px 10px;
  box-shadow: 0px 8px 20px black;
}

.choixUser>div{
  padding: 3px;

}

.choixUser>div:hover{
  background: #505050;
}
