.mat-column-attribut_action, .mat-column-action{
  max-width: 40px;
}

.mat-column-private{
  align-items: center;
  justify-content: center;
}

mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type{
  padding-left:0px;
}

:host{
  display: flex;
  flex-direction: column;
  min-width: 900px;
  min-height: 500px;
}

.mat-column-privatemethode {
  max-width: 40px;
  justify-content: center;
}
