<div style="padding: 10px">
  <h3 style="text-align: center">Initialisation</h3>
  <form [formGroup]="initform" (ngSubmit)="submit()" style="margin-top:70px;display: flex;flex-direction: column; height: 100px; justify-content: space-between">
    <mat-form-field floatPlaceholder="auto">
      <input matInput formControlName="login" type="text" required placeholder="Adresse mail">
    </mat-form-field>
    <mat-form-field floatPlaceholder="auto">
      <input matInput formControlName="password" type="password" required placeholder="Password">
    </mat-form-field>


    <div style="text-align: center">
    <button type="submit" mat-button [disabled]="!initform.valid" >Créer le premier utilisateur</button>
    </div>

  </form>
</div>
