/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";



 body, html{
    margin: 0px;
    padding: 0px;

    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
    user-select: none;

}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}
.mat-tab-body-wrapper{
  flex-grow: 1;
}
.mat-tab-body-content{
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: #2f2f86;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4848ff;
}
::-webkit-scrollbar-thumb:active {
  background: #1227e7;
}
::-webkit-scrollbar-track {
  background: rgba(77, 77, 77, 0.295);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #808080;
}
::-webkit-scrollbar-track:active {
  background: #808080;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.historyMessage>p{
  margin:0px;
  padding:0px;
  -webkit-margin-before: 0em !important;
  -webkit-margin-after: 0em !important;

}
/*
button{
    padding:5px;
    font-style: 1em;
    background-color: lightgray;
    border: none;
}

button:focus{
    outline: none;
    background-color: #CCCCCC;
}

button:hover{
    background-color: #CCCCCC;
    cursor: pointer;
}
button:disabled {
    background-color: #737373;
    color: #9c9c9c;
}

button>.fa{
    cursor: pointer;
}

input[type=text], input[type=password]{
    padding:4px;
    border: 1px solid darkgray;
    background-color: rgb(192, 228, 192);
}

input[type=text]:focus, input[type=password]:focus{
    background-color: rgb(159, 236, 159);
    outline: none;
}

a{
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  color: darkgreen;
}

a:hover{
  background-color: #CCCCCC;
} */
