:host{
  flex-grow: 1;
  display:flex;
  flex-direction:column;
}

.history{
  flex-grow: 1;
  background-color: #c5c5c512;
  box-shadow: inset 0 0 14px black;
  margin: 16px;
  overflow: auto;
  user-select: text;
  padding:5px;
}

.divSaisie{
  padding:10px;
  background-color: #c5c5c512;
  box-shadow: inset 0 0 14px black;
  margin: 16px;
  display: flex;
  flex-direction: row;
  max-height: 80px;
  min-height: 80px;
}
