<history-message style="flex-grow:1" #history="historyMessage" [messages]="messages" [users]="users"></history-message>
<div class="divSaisie">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="flex-row" style="flex-grow: 1">
    <mat-form-field floatLabel="always" style="flex-grow: 1">
      <textarea
        matInput
        formControlName="message"
        required
        placeholder="Nouveau message"
        matTextareaAutosize
        matAutosizeMinRows="3"
      ></textarea>
    </mat-form-field>
    <button mat-button >
      <fa name="send"></fa> Envoyer</button>
  </form>
</div>
